@import url("https://fonts.googleapis.com/css?family=Noto+Sans|Roboto+Mono|Work+Sans:400,500,600,700&display=swap");

* {
  font-family: "Work Sans", "Roboto Mono", sans-serif;
}

/*Navbar Home*/

.NavItem {
  color: white;
  font-weight: 300;
  text-decoration: none;
  margin-right: 10px;
}

.NavItem:hover {
  color: #f2f2f2;
  text-decoration: underline;
}

/*home*/

.section1 {
  background-color: #fff1d0;
  background-image: url(./../img/backgroundHomeS1.jpg);
  filter: grayscale(30%);
  background-size: cover;
}

.section2-1 {
  background-color: #2c5530;
  background-size: cover;
}

.section2-2 {
  background-color: #d38b5d;
  background-size: cover;
}

.section2-3 {
  background-color: #086788;
  background-size: cover;
}

.section3 {
  background-color: #b34c3d;
  background-size: cover;
}

/*Section1*/

.CardSectionOne {
  text-align: center;
  margin-bottom: 60px;
}

.CardSectionOne > .title {
  color: #f2f2f2;
  font-size: 7em;
}

.CardBgSectionOne {
  text-align: center;
  background-color: #f2f2f2;
  border-bottom-left-radius: 50px;
  border-top-right-radius: 50px;
  padding: 3%;
}

.CardBgSectionOne > .message {
  color: #000;
  font-size: 1.4em;
}

.Button {
  margin-top: 50px;
  text-align: center;
}

@media (max-width: 1000px) {
  .CardSectionOne > .title {
    font-size: 2.5em;
  }
  .CardBgSectionOne > .message {
    font-size: 0.9em;
  }
}

/*Section 2 - 1*/

.CardBgSectionTwo {
  text-align: center;
  margin-bottom: 100px;
}

.titleSection2 {
  color: #f2f2f2;
  font-size: 4em;
}

.sectionContent {
  margin-bottom: 80px;
}

.CardImageBorder {
  background-color: #f2f2f2;
  border-radius: 30px;
  border: #2e282a;
  border-style: dotted;
  padding: 1%;
  transform: rotate(-5deg);
}

.CardImageContent {
  text-align: center;
  background-color: #ffb703;
  border-radius: 30px;
  border: #2e282a;
  border-style: double;
  padding: 3%;
  transform: rotate(5deg);
}

.CardImageContent > img {
  width: 100%;
  border-radius: 30px;
}

.CardBgSectionTwoText {
  margin-top: 20px;
  text-align: center;
  background-color: #f2f2f2;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
  padding: 5%;
}

.CardBgSectionTwoText > .text {
  color: #000;
  font-size: 1.4em;
}

.ButtonSec2 {
  margin-top: 50px;
  text-align: center;
}

@media (max-width: 1000px) {
  .mobileReduccion {
    width: 73%;
    margin-left: auto;
    margin-right: auto;
  }
  .CardBgSectionTwo {
    margin-bottom: 25px;
  }

  .titleSection2 {
    color: #f2f2f2;
    font-size: 2em;
  }

  .CardImageBorder {
    margin-bottom: 30px;
  }

  .sectionContent {
    margin-bottom: 30px;
  }

  .CardImageContent > img {
    width: 100%;
    border-radius: 30px;
  }

  .CardBgSectionTwoText {
    margin-top: 10px;
    text-align: center;
    background-color: #f2f2f2;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    padding: 5%;
  }

  .CardBgSectionTwoText > .text {
    color: #000;
    font-size: 1em;
  }

  .ButtonSec2 {
    margin-top: 25px;
    text-align: center;
  }
}

/*Section 2 - 2*/

.CardBgSectionTwoTwo {
  text-align: center;
  margin-bottom: 100px;
}

.titleSection2Two {
  color: #f2f2f2;
  font-size: 4em;
}

.sectionContentTwo {
  margin-bottom: 80px;
}

.CardImageBorderTwo {
  background-color: #f2f2f2;
  border-radius: 30px;
  border: #2e282a;
  border-style: dotted;
  padding: 1%;
  transform: rotate(5deg);
}

.CardImageContentTwo {
  text-align: center;
  background-color: #ffb703;
  border-radius: 30px;
  border: #2e282a;
  border-style: double;
  padding: 3%;
  transform: rotate(-5deg);
}

.videoIframeSec2 {
  width: 100%;
  border-radius: 30px;
  height: 250px;
}

.CardBgSectionTwoTextTwo {
  margin-top: 20px;
  text-align: center;
  background-color: #f2f2f2;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
  padding: 5%;
}

.CardBgSectionTwoTextTwo > .text {
  color: #000;
  font-size: 1.4em;
}

.ButtonSec2Two {
  margin-top: 50px;
  text-align: center;
}

@media (max-width: 1000px) {
  .mobileReduccionTwo {
    width: 73%;
    margin-left: auto;
    margin-right: auto;
  }
  .CardBgSectionTwoTwo {
    margin-bottom: 25px;
  }

  .titleSection2Two {
    color: #f2f2f2;
    font-size: 2em;
  }

  .CardImageBorderTwo {
    margin-bottom: 30px;
  }

  .sectionContentTwo {
    margin-bottom: 30px;
  }

  .videoIframeSec2 {
    width: 100%;
    border-radius: 30px;
    height: 120px;
  }

  .CardBgSectionTwoTextTwo {
    margin-top: 10px;
    text-align: center;
    background-color: #f2f2f2;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    padding: 5%;
  }

  .CardBgSectionTwoTextTwo > .text {
    color: #000;
    font-size: 1em;
  }

  .ButtonSec2Two {
    margin-top: 25px;
    text-align: center;
  }
}

/*Section 2-3*/
.centerText {
  margin-top: 100px;
  font-size: 2em;
  text-align: center;
  background-color: #ffb703;
  border-radius: 50px;
}
.centerText > .bgNumber {
  text-align: center;
  background-color: #f2f2f2;
  border: #2e282a;
  border-style: double;
  padding: 2%;
  border-radius: 10px;
}

.centerText2 {
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-right: auto;
}

.img1 {
  text-align: center;
  width: 100px;
  background-image: url(./../img/img1Home.jpg);
  filter: grayscale(30%);
  background-size: cover;
  padding: 50%;
  border-radius: 50px;
}

.img2 {
  text-align: center;
  width: 100px;
  background-image: url(./../img/img2Home.jpg);
  filter: grayscale(30%);
  background-size: cover;
  padding: 50%;
  border-radius: 50px;
}

.img3 {
  text-align: center;
  width: 100px;
  background-image: url(./../img/img3Home.jpg);
  filter: grayscale(30%);
  background-size: cover;
  padding: 50%;
  border-radius: 50px;
}

.img4 {
  text-align: center;
  width: 100px;
  background-image: url(./../img/img4Home.jpg);
  filter: grayscale(30%);
  background-size: cover;
  padding: 50%;
  border-radius: 50px;
}

.img5 {
  text-align: center;
  width: 100px;
  background-image: url(./../img/img5Home.jpg);
  filter: grayscale(30%);
  background-size: cover;
  padding: 50%;
  border-radius: 50px;
}

.ButtonSec2Three {
  margin-top: 100px;
  text-align: center;
}

.marginR {
  margin-right: 1%;
}

@media (max-width: 1000px) {
  .mobileReduccionThree {
    width: 73%;
    margin-left: auto;
    margin-right: auto;
  }

  .centerText2 {
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-right: auto;
  }

  .img2 {
    text-align: center;
    width: 100px;
    background-image: url(./../img/img2Home.jpg);
    filter: grayscale(30%);
    background-size: cover;
    padding: 50%;
    border-radius: 50px;
  }
  .centerText {
    margin-top: 50px;
    font-size: 1em;
    text-align: center;
    background-color: #ffb703;
    border-radius: 50px;
  }
  .centerText > .bgNumber {
    padding: 1.3%;
  }

  .marginR {
    margin-right: 1.5%;
  }
  .ButtonSec2Three {
    margin-top: 50px;
    text-align: center;
  }
}

/*Section Three */
.sizeFont {
  font-size: 0.83em;
}

@media (max-width: 1000px) {
  .mobileReduccionThree {
    width: 73%;
    margin-left: auto;
    margin-right: auto;
  }
  .Jumbotron {
    margin-top: 100px;
  }
  .sizeFontTitle {
    font-size: 1.1em !important;
  }
  .sizeFont {
    font-size: 0.7em !important;
  }
}

/*Comunidad*/
.BgGradientComunidad {
  background-color: #fff1d0;
  background-image: url(./../img/puerto-velero/puerto-velero-buque.jpg);
  filter: grayscale(30%);
  background-size: cover;
}

.centerTextForum {
  text-align: center;
}

.centerPagination {
  margin: 0 auto;
}

/*Perfil*/
.BgGradientPerfil {
  background-color: #fff1d0;
  background-image: url(./../img/bocas-de-ceniza/bocas-de-ceniza-muelle.jpg);
  filter: grayscale(30%);
  background-size: cover;
}

.ProfileImage {
  text-align: center;
  margin: 0 auto;
  width: 300px;
}

.ProfileImage > img {
  width: 100%;
  border-radius: 100%;
}

.imgMedia {
  text-align: center;
  margin-right: 10px;
  width: 200px;
}

.imgMedia > img {
  width: 100%;
  border-radius: 10%;
}

.centerItems {
  text-align: center;
  margin: 0 auto;
}

.myClass ul > li > a {
  background-color: gray;
  color: white;
}

@media (max-width: 1000px) {
  .mobileReduccionProfile {
    width: 73%;
    margin-left: auto;
    margin-right: auto;
  }
  .JumbotronProfile {
    margin-top: 100px;
  }
  .sizeFontTitle {
    font-size: 1.1em !important;
  }
  .sizeFont {
    font-size: 0.7em !important;
  }
}

/*Leaft*/

.main {
  height: 100vh;
  width: 100%;
}
/*Agenda*/
.bgGreenCita {
  height: 68px;
}
.imagenCita {
  width: 100%;
  height: 100%;
  object-fit: cover;
  mask-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.85) 100%
  );
  -webkit-mask-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.85) 100%
  );
}

.centrarTituloAnuncios{
  text-align: center;
  font-size: 3em;
  /* background-color: "#b68428"; */
  color: #000000;

}

.centrarTituloNoticias{
  text-align: center;
  font-size: 3em;
  color: #925107;
}

.alinearTextoHistoria{
  text-align: justify;
}
/*Perfil*/
.image_card {
  height: 68px;
  position: relative;
}

.tituloCita {
  position: absolute;
  width: 50%;
  color: #303030;
  font-size: 1rem;
  font-weight: 600;
  bottom: 0%;
  left: 12%;
}

.card_horario {
  max-width: 100%;
  max-height: 100px;
  cursor: pointer;
}

/*Perfil*/
/*Lugar*/
.mapaTop {
  margin-top: 97px;
}
.main1 {
  height: 720px;
  width: 100%;
}
.colorStar {
  color: #ffb703;
}
.scrolling {
  width: 100%;
  height: 800px;
  overflow-y: scroll;
  scrollbar-color: #343a40 #ffffff;
}
/* Carlos */

/*Perfil*/

/*Luis Aznar*/

/*Giovanni Moreno*/

/*Jose Fernandez Lopez*/

/*Daniel Valencia Cordero*/
