@import url('https://fonts.googleapis.com/css?family=Noto+Sans|Roboto+Mono|Work+Sans:400,700&display=swap');
/*home*/

* {
  font-family: 'Work Sans', 'Roboto Mono', sans-serif;
}

h3 {
  font-size: 18px;
  text-align: center;
  font-weight: 700;
}

.section1 {
  background-image: url(./../img/backgroundHomeS1.jpg);
  background-size: cover;
}

.section2-1 {
  background-image: url(./../img/backgroundHomeS2-1.jpg);
  background-size: cover;
}

.section2-2 {
  background-image: url(./../img/backgroundHomeS2-2.jpg);
  background-size: cover;
}

.section2-3 {
  background-image: url(./../img/backgroundHomeS2-3.jpg);
  background-size: cover;
}

.colorCardGreen {
  width: 504px;
  height: 143px;
  background: #AAD87F;
  box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
}

.textCardCenter {
  text-align: center;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 60px;
  color: #FFFFFF;
}

.colorCardWhite {
  width: 1126px;
  height: 170px;
  margin-top: 50px;
  background: #FFFFFF;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}

.colorCardGreen2 {
  width: 200px;
  height: 190px;
  margin-top: 40px;
  background: #AAD87F;
  box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
}

.textCardWhite1 {
  text-align: left;
  margin-top: 35px;
  margin-left: 40px;
  line-height: 95%;
  color: #142D3F;
}

.textCardWhite1 {
  font-size: 21px;
  color: #142D3F;
}

.author {
  padding-top: 10px;
  text-align: right;
}
/*Perfil*/

/* Carlos */

/*Perfil*/

/*Luis Aznar*/

/*Giovanni Moreno*/

/*Jose Fernandez*/

/*Daniel Valencia Cordero*/
