@import url('https://fonts.googleapis.com/css?family=Noto+Sans|Roboto+Mono|Work+Sans:400,700&display=swap');

/*Navbar Home*/

.NavItem{
  color: white;
  font-weight: 300;
  text-decoration: none;
  margin-right: 10px;
}

.NavItem:hover{
  color: #f2f2f2;
  text-decoration: underline;
}


/*home*/

* {
  font-family: 'Work Sans', 'Roboto Mono', sans-serif;
}

.section1 {
  background-color: #fff1d0;
  background-image: url(./../img/backgroundHomeS1.jpg);
  filter: grayscale(30%);
  background-size: cover;
}

.section2-1 {
  background-color: #e6e49f;
  background-size: cover;
}

.section2-2 {
  background-color: #ec4e20;
  background-size: cover;
}

.section2-3 {
  background-color: #AAD87F;
  background-size: cover;
}

.section3 {
  background-color: #99b2dd;
  background-size: cover;
}
/*Section1*/ 

.CardSectionOne{
  text-align: center;
  margin-bottom: 60px;
}

.CardSectionOne > .title{
  color: #AAD87F;
  font-size: 7em;
}

.CardBgSectionOne{
  text-align: center;
  background-color: #f2f2f2;
  border-bottom-left-radius: 50px;
  border-top-right-radius: 50px;
  padding: 3%;
}

.CardBgSectionOne > .message{
  color: #000;
  font-size: 1.4em;
}

.Button{
  margin-top: 50px;
  text-align: center;
}

@media (max-width: 1000px) {
  .CardSectionOne > .title {
    font-size: 2.5em;
  }
  .CardBgSectionOne > .message{
    font-size: 0.9em;
  }
}
/*Leaft*/

.main {
  height: 100vh;
  width: 100%;
}

/*Perfil*/

/* Carlos */

/*Perfil*/

/*Luis Aznar*/

/*Giovanni Moreno*/



/*Daniel Valencia Cordero*/
